.order-confirmation-container {
    background-image: linear-gradient(rgba(207, 189, 134, 0.436), rgba(239, 219, 195, 0.5)),
    url("../media//cycle_gif.gif");
    height: 100vh;
    background-position-y: 62px;

}